body{
  background: url('bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.container{
padding-left:5%;
padding-right:0%;
margin-top: 10px;
}

.top{
width:95%;
height: 90px;
background-color: white;
padding-top: 10px;
}

.top img{
float: left;
padding-left: 9%;
}

.content-box{
margin-top: -15px;
background-color: #f4f6f9;
padding-bottom: 15px;
width: 95%;
}

.content-box .intro-bg{
background: url('intro-bg1.jpg');
background-repeat:
background-size: cover;
width: 100%;
height: 40px;
margin-bottom: 30px;
}

.content-box .intro-bg h3{
font-size: 20px;
padding-top: 8px;
}

.content-box img{
width: 45%;
float: left;
margin: 5% 5% 5% 10%;
overflow: hidden;
}

.content-box p {
padding: 3% 10% 3% 10%;
font-size: 16px;
text-align: justify;
line-height: 25px;
}

.content-box span{
font-size: 18px;
font-weight: lighter;
font-family: sans-serif;
}

p {
  font-size: 14px;
}

h1, h2, h3 , p{
font-style: normal;
font-weight: lighter;
font-family: sans-serif;
color: black;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 0fr));
  margin-top: 30px;
  grid-gap: 25px;

}
.card-layout{
  width: 370px;
  height: 300px;
  text-align: center;
  background-color: white;
}

.card-icon{
width:100%;
background-color: lightgrey;
height: 100px;

}
.card-icon img{
  height: 65%;
  margin-top: 5%;
}

.card-descrip{
padding: 0 10px;
}

.card-layout button {
width: 100px;
height: 40px;
align-self: center;
margin-top: 20px;
}

.card-layout button:hover {
background-color: lightgrey;
font-weight: bold;
}
